{% include 'header.html' %}

  <main>
    <form action="" method="post" class="flex flex-col m-auto w-max text-lg">

      {% if error %}
      <p class="p-2 text-lg bg-red-300 w-max m-auto mb-5">{{error}}</p>
      {% endif %}

      <label class="flex flex-col mb-5">
        <span>Adresse mail</span>
        <input type="email" name="email" class="p-1 border-black border-2" required>
      </label>

      <label class="flex flex-col mb-10">
        <span>Mot de passe</span>
        <input type="password" name="password" class="p-1 border-black border-2" required>
      </label>

      <button type="submit" class="p-2 bg-orange-300 w-max m-auto text-xl border-2 border-transparent rounded-xl hover:bg-transparent hover:border-orange-300 duration-100">
        Se connecter
      </button>
      <a href="/auth/sign-up" class="text-center mt-5 text-orange-600">Tu n'as pas de compte ? Inscrit toi.</a>
    </form>
  </main>


{% include 'footer.html' %}